# Default owners for everything
*                           @subvincdebian @chupikx228

/backend/                   @subvincdebian
/backend/prisma/            @subvincdebian @chupikx228
/frontend/                  @chupikx228
/.github/                   @subvincdebian
/docker-compose.prod.yml    @subvincdebian
/docker-compose.dev.yml     @subvincdebian
/vercel.json                @subvincdebian
/package.json               @subvincdebian @chupikx228
/package-lock.json          @subvincdebian
/scripts/                   @subvincdebian
/.npmrc                     @subvincdebian
/SECURITY.md                @subvincdebian
