POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=postgresdb
REDIS_PASSWORD=your_secure_password_here

JWT_ACCESS_SECRET=your_jwt_secret_here
JWT_ACCESS_TTL=date
JWT_REFRESH_SECRET=your_jwt_secret_here
JWT_REFRESH_TTL=date

MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password

DOCKER_REGISTRY=your_docker

GF_SECURITY_ADMIN_USER=admin_name
GF_SECURITY_ADMIN_PASSWORD=grafana_admin_password
BACKUP_RETENTION_DAYS=7