dist
build
node_modules
coverage
storybook-static
backend/prisma/migrations
*.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb
.git
.github
CHANGELOG.md
.husky
.vscode
.DS_Store
*.log
.env
.env.*
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.webp
*.svg
*.woff
*.woff2
*.ttf
*.otf
*.eot
*.pdf
*.zip
*.tar
*.gz
