# Database
DATABASE_URL=postgresql://user:password@localhost:5432/social?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_SECRET=
JWT_REFRESH_TTL=

# App
PORT=
CORS_ORIGIN=

# AWS (optional for local dev)
AWS_BUCKET_NAME=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=

# Minio
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_PUBLIC_URL=

# Sentry
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=